{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="{% static 'js/filter.js' %}"></script>
      
            <!-- Step 1 - Include the fusioncharts core library -->
            <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
            <!-- Step 2 - Include the fusion theme -->
            <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
       
        <style>
            .card{
                box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.12);
            }
           
        </style>

    </head>
    <body class="sb-nav-fixed" style="background-color:white;">
      
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="home.html">DD</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="">Intensity</a>
                                    <a class="nav-link" href="">Likelihood</a>
                                    <a href="" class="nav-link">Relevance</a>
                                    <a href="" class="nav-link">Year</a>
                                    <a href="" class="nav-link">Country</a>
                                    <a href="" class="nav-link">Topics</a>
                                    <a href="" class="nav-link">Region</a>
                                    <a href="" class="nav-link">City</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Filters
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth" onclick="year_filter(10)">
                                        End Year
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html"></a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.htm">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                   
            </div>
            
        <div id="layoutSidenav_content">
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body"><h3>Total Titles</h3></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <h5>{{data|length}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body"><h3>Total Countries</h3></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <h5>{{country|length}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body"><h3>Total Sources</h3></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <h5>{{source|length}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body"><h3>Total Topics</h3></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <h5>{{topic|length}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; gap:15px; flex-direction: row; flex-wrap: wrap;flex:1 1 10%;">
                <div style="width: 100%; height:max-content;" class="card">
                    <canvas id="myChart1" width="200" height="60"></canvas>
                    <script>
                        
                            

                        var ctx = document.getElementById('myChart1').getContext('2d');
                        var myChart1 = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: [{% for i in country|slice:":25" %} '{{i}}', {% endfor %}],
                        datasets: [{
                            label: 'Intensity',
                            data: [{% for i in intensity %} '{{i}}', {% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                    borderWidth: 1
                        }]
                            },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                                
                            }
                
                                
                            }
                        });
                    </script>
                </div>
            </div>

               <div style="display: flex;flex:1 1 50%;align-items: center; gap: 15px;">
                <div style="height:300px; width:40%;margin-top: 35px;" class="card">
                    <canvas id="myChart2" width="40" height="20"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart2').getContext('2d');
                        var myChart2 = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                labels: [{% for i in sector|slice:":7" %} '{{i}}', {% endfor %}],
                        datasets: [{
                            label: 'Sector Topics',
                            data: [{% for i in sector|slice:":7" %} '{{i|length}}', {% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 239, 64, 1)',
                                'rgba(255, 119, 132, 1)',
                                'rgba(54, 112, 235, 1)',
                                'rgba(255, 26, 86, 1)',
                                'rgba(75, 2, 192, 1)',
                                'rgba(153, 1, 255, 1)',
                                'rgba(255, 19, 64, 1)',
                            ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                    borderWidth: 1
                        }]
                            },
                        options: {
                            // aspectRatio:0.5,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                            
                        }
                        });
                    </script>
                </div>
            
            <div class="card" style="width: 100%; height:300px; margin-top: 35px;">
                <canvas id="myChart3" width="400" height="100"></canvas>
                <script>
                    var ctx = document.getElementById('myChart3').getContext('2d');
                        var myChart3 = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: [{% for i in topic|slice:":13" %} '{{i}}', {% endfor %}],
                        datasets: [{
                            label: 'Intensity VS Topics',
                            data: [{% for i in data %} '{{i.intensity}}', {% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 239, 64, 1)',
                                'rgba(255, 119, 132, 1)',
                                'rgba(54, 112, 235, 1)',
                                'rgba(255, 26, 86, 1)',
                                'rgba(75, 2, 192, 1)',
                                'rgba(153, 1, 255, 1)',
                                'rgba(255, 19, 64, 1)',
                            ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                    borderWidth: 0.2,
                                    tension:0.7,
                                    fill:false
                        }]
                            },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                            
                        }
                        });
                </script>
            </div>
        
               </div>
                
                    
            <div style="display: flex; gap:15px; justify-content:space-evenly;align-items: center; flex-direction:row-reverse;flex:1 1 50%;">
                <div class="card" style="width: 100%; height:300px;margin-top: 25px;">
                
                    <canvas id="myChart4" width="500" height="100"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart4').getContext('2d');
                        var myChart4 = new Chart(ctx, {
                            
                            data: {
                                
                        datasets: [{
                            type: 'bar',
                            label: 'Intensity',
                            data: [{% for i in data %} '{{i.intensity}}', {% endfor %}],
                            backgroundColor: [
                                    'rgba(255, 239, 64, 1)',
                                    'rgba(255, 119, 132, 1)',
                                    'rgba(54, 112, 235, 1)',
                                    'rgba(255, 26, 86, 1)',
                                    'rgba(75, 2, 192, 1)',
                                    'rgba(153, 1, 255, 1)',
                                    'rgba(255, 19, 64, 1)',
                                ],
                        },
                        {
                            type: 'line',
                            label: 'Likelihood',
                            data:[{% for i in hood|slice:":10" %} '{{i}}', {% endfor %}],
                            backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                            ],
                            borderColor: [
                                        'rgba(255, 199, 232, 1)',
                                        
                                    ],
                            
                                   
                        }],
                        labels: [{% for i in country|slice:"5" %} '{{i}}', {% endfor %}]
                            },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        max:10,
                                        min:0,
                                    }
                                }]
                                
                            }
                        }
                        });
                    </script>
                
                </div>
                <div class="card" style="width: 40%; height:300px; margin-top: 25px;">
                
                    <canvas id="myChart5" width="20" height="40"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart5').getContext('2d');
                        var myChart5 = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: [{% for i in region|slice:":7" %} '{{i}}', {% endfor %}],
                        datasets: [{
                            label: 'Sector Topics',
                            data: [{% for i in region|slice:":7" %} '{{i|length}}', {% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 239, 64, 1)',
                                'rgba(255, 119, 132, 1)',
                                'rgba(54, 112, 235, 1)',
                                'rgba(255, 26, 86, 1)',
                                'rgba(75, 2, 192, 1)',
                                'rgba(153, 1, 255, 1)',
                                'rgba(255, 19, 64, 1)',
                            ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                    borderWidth: 1
                        }]
                            },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                            
                        }
                        });
                    </script>
                </div>
                
            </div>
            <div style="display: flex; flex:1 1 50%; justify-content:start; align-items: start; gap:15px;">
                <div style="width: 40%; height:min-content; margin-top: 25px;" class="card">
                    <canvas id="myChart6" width="20" height="40"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart6').getContext('2d');
                        var myChart6 = new Chart(ctx, {
                            type: 'polarArea',
                            data: {
                                labels: [{% for i in country|slice:":8" %} '{{i}}', {% endfor %}],
                        datasets: [{
                            label: 'Intensity',
                            data: [{% for i in data|slice:":8" %} '{{i.relevance}}', {% endfor %}],
                            backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 239, 64, 1)',
                                'rgba(255, 119, 132, 1)',
                                'rgba(54, 112, 235, 1)',
                                'rgba(255, 26, 86, 1)',
                                'rgba(75, 2, 192, 1)',
                                'rgba(153, 1, 255, 1)',
                                'rgba(255, 19, 64, 1)',
                                
                            ],
                        
                                  
                        }]
                            },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                                
                            }
                        }
                        });
                    </script> 
                </div>

                <div style="height:100%; width:40%;margin-top: 20px; vertical-align: top;" class="card">
                    <canvas id="myChart7" width="40" height="20"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart7').getContext('2d');
                        var myChart7 = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: [{% for i in end|slice:":13" %} '{{i}}', {% endfor %}],
                        datasets: [{
                            label: 'Sector Topics',
                            data: [{% for i in sector|slice:":13" %} '{{i|length}}', {% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 239, 64, 1)',
                                'rgba(255, 119, 132, 1)',
                                'rgba(54, 112, 235, 1)',
                                'rgba(255, 26, 86, 1)',
                                'rgba(75, 2, 192, 1)',
                                'rgba(153, 1, 255, 1)',
                                'rgba(255, 19, 64, 1)',
                            ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                    borderWidth: 1
                        }]
                            },
                        options: {
                            // aspectRatio:0.5,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                            
                        }
                        });
                    </script>
                </div>
                <div class="card-body card" style="width: 30%;margin-top: 20px;height: 100%;">
                    <canvas id="radar"></canvas>
                    <script>
                        new Chart(document.getElementById("radar"), {
    type: 'radar',
    data: {
      labels: [{% for i in end|slice:":5" %} '{{i}}', {% endfor %}],
      datasets: [
        {
          label: "likelihood",
          fill: true,
          backgroundColor: "rgba(179,181,198,0.2)",
          borderColor: "rgba(179,181,198,1)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgba(179,181,198,1)",
          data: [{% for i in data|slice:":8" %} '{{i.hood}}', {% endfor %}]
        }, {
          label: "relevance",
          fill: true,
          backgroundColor: "rgba(255,99,132,0.2)",
          borderColor: "rgba(255,99,132,1)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgba(255,99,132,1)",
          pointBorderColor: "#fff",
          data: [{% for i in data|slice:":5" %} '{{i.relevance}}', {% endfor %}]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Distribution in % of world population'
      }
    }
});
                    </script>
                   
                </div>
            </div>

            
            
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
    </body>
</html>